:root{
    --text-color: #502314;
    --primary-color: #D72300;
    --bg-color: #F5EBDC;
    --bg-color-dark:#efe0cc;
    --footer-color: #502314;
    --bs-body-color: #502314;
}

@font-face {
    font-family: FlameSans;
    src: url("../assets/fonts/FlameSans.otf") format("opentype"), url('../assets/fonts/FlameSans.otf') format('truetype');
}

@font-face {
    font-family: Flame-Regular;
    src: url("../assets/fonts/FlameRegular.otf") format("opentype"), url('../assets/fonts/FlameRegular.otf') format('truetype');


}

/**
 * 02. GENERAL
 *
 * -------------------------------------------------------------------
 */

body{ 
    --bs-body-color: var(--text-color);
    --bs-body-bg: var(--bg-color);
    --bs-body-font-family: FlameSans, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4{
    font-family: Flame-Regular, sans-serif !important;
}

main{
    flex: 1;
}
.navbar{
    --bs-navbar-color:  var(--text-color) !important;
    --bs-navbar-hover-color: var(--primary-color) !important;
}

img.banner-img {
    width: 100%;
	min-height: 65vh;
    max-height: 65vh;
	height: 190px;
	object-fit: cover;
}

.logo{
    width: 48px;
}

.app{
    background-color: var(--primary-color);
    color: white;
}
.footer{
    background-color: var(--footer-color);
    color: white;
}

.bg-color-dark{
    background-color: var(--bg-color-dark);
}


/**
 * 02. LOCALES CERCANOS
 *
 * -------------------------------------------------------------------
 */

.img-locales{
    width:230px;
    height: auto;
}


.input-locales.form-control:focus {
	color: #502314;
	border-color: #613d31 !important;
	box-shadow: 0 0 0 .25rem rgba(80,35,20,.25) !important;
}

